---
layout: default
---

<style type="text/css" media="screen">
  .containter-404 {
    margin-top: 50px;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div id="wrapper" style="width: 100%;" class="clearfix">
  <!-- {% include preloader.html %} -->
  {% include navigation.html %}
    <div class="main-content">
      <div class="containter-404">
        <center>
        <h1>404</h1>

        <p><strong>Page not found :(</strong></p>
        <p>The requested page could not be found.</p>
        </center>
      </div>
    </div>
    {% include footer.html %}
</div>

