---
layout: default
title: 易美教育 | Easymay
---
<div id="wrapper" class="clearfix">
  <!-- {% include preloader.html %} -->
  {% include navigation_en.html %}
  <div class="main-content">

    <!-- Section: home -->
    <section id="home" class="divider">
      <div class="container-fluid p-0 ">
        <div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="test5" data-source="gallery" style="margin:0px auto;background:#0c0b09;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.4.7.2 fullwidth mode -->
          <div id="rev_slider_10_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.2">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-61" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="550"  data-thumb="assets/services/service-bg6.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/joinus/joinus-bg.png"  alt="" title="slide-1"  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-61-layer-1"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['254','254','254','254']"
                     data-fontsize="['45','45','45','41']"
                     data-lineheight="['48','48','48','42']"
                     data-width="['100%','100%','100%','95%']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":530,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="position: relative; z-index: 5; min-width: 100%; max-width: 100%; white-space: nowrap; font-size: 45px; line-height: 48px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">


                  <h1 class="text-white text-uppercase font-48 text-white">Join Easymay</h1>

                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme"
                     id="slide-61-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['399','399','399','439']"
                     data-width="100%"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":1080,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="position: relative; z-index: 7; min-width: 100%; max-width: 100%; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">


                  <h2 class="font-20 text-white mb-30 pt-40">With its headquarter located in NYC, and services covering 50 states of the U.S., Easymay is the best option for your study abroad counselling services</h2>
                  <a class="btn text-uppercase qbutton-style icon_right" href="#service-contact-form">Join Now</a>
                </div>
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
        </div><!-- END REVOLUTION SLIDER -->
        <script type="text/javascript">
          var revapi10,
            tpj;
          (function() {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();
            function onLoad() {
              if (tpj===undefined) { tpj = jQuery; if("on" == "on") tpj.noConflict();}
              if(tpj("#rev_slider_10_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_10_1");
              }else{
                revapi10 = tpj("#rev_slider_10_1").show().revolution({
                  sliderType:"standard",
                  jsFileLocation:"//credentusa.com/wp-content/plugins/revslider/public/assets/js/",
                  sliderLayout:"fullwidth",
                  dottedOverlay:"none",
                  delay:2000,
                  navigation: {
                    keyboardNavigation:"on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    mouseScrollReverse:"default",
                    onHoverStop:"on",
                    touch:{
                      touchenabled:"on",
                      touchOnDesktop:"off",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                    }
                    ,
                    arrows: {
                      style:"hermes",
                      enable:false,
                      hide_onmobile:true,
                      hide_under:700,
                      hide_onleave:false,
                      tmp:'<div class="tp-arr-allwrapper">  <div class="tp-arr-imgholder"></div>  <div class="tp-arr-titleholder">{{title}}</div> </div>',
                      left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:0,
                        v_offset:0
                      },
                      right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:0,
                        v_offset:0
                      }
                    }
                  },
                  responsiveLevels:[1240,1024,778,480],
                  visibilityLevels:[1240,1024,778,480],
                  gridwidth:[1230,1024,778,480],
                  gridheight:[650,768,960,800],
                  lazyType:"none",
                  parallax: {
                    type:"mouse",
                    origo:"enterpoint",
                    speed:400,
                    speedbg:0,
                    speedls:0,
                    levels:[5,10,15,20,25,30,35,40,45,50,47,48,49,50,51,55],
                  },
                  shadow:0,
                  spinner:"spinner2",
                  stopLoop:"off",
                  stopAfterLoops:-1,
                  stopAtSlide:-1,
                  shuffle:"off",
                  autoHeight:"off",
                  disableProgressBar:"on",
                  hideThumbsOnMobile:"off",
                  hideSliderAtLimit:0,
                  hideCaptionAtLimit:0,
                  hideAllCaptionAtLilmit:0,
                  debugMode:false,
                  fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                  }
                });
              }; /* END OF revapi call */

            }; /* END OF ON LOAD FUNCTION */
          }()); /* END OF WRAPPING FUNCTION */
        </script>
      </div>
    </section>

    <!-- Section: Gallery -->

    <section id="gallery">
      <div class="container">
        <div class="row justify-content-center">
            <div class="section-title text-center pl-15 pr-15">

              <h2 class="title-effect text-theme-colored2 mt-0">Open Positions</h2>
              <p class="text-white">We build the platform for your career and future</p>
          </div>
        </div>
        <div class="section-content join-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Works Filter -->

              <!--<div class="portfolio-filter">-->

              <!--<a href="#" class="active" data-filter="*">All</a>-->

              <!--<a href="#consulting" class="" data-filter=".consulting">Consulting</a>-->

              <!--<a href="#business" class="" data-filter=".business">Business</a>-->

              <!--<a href="#finance" class="" data-filter=".finance">Finance</a>-->

              <!--<a href="#marketing" class="" data-filter=".marketing">Marketing</a>-->

              <!--</div>-->

              <!-- End Works Filter -->

              <!-- Portfolio Gallery Grid -->

              <div id="grid" class="gallery-isotope default-animation-effect grid-3 gutter clearfix">

                <!-- Portfolio Item Start -->

                <div class="gallery-item marketing finance">
                  <div class="project-gallery">
                    <div class="project-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/joinus-thumb-1.png">
                      <h4 class="title text-theme-colored2"><i class="fa fa-globe f-30"></i> Application Consultant</h4>
                      <div class="project-caption">

                        <!--<h3 class="text-white title line-bottom-theme-colored2 mt-0 mb-20">前麻省理工学院招生官</h3>-->

                        <!--<h5>伊万斯女士</h5>-->

                        <div class="join-details">
                          <h4 class="title"><i class="pe-7f-global f-30"></i> Application Consultant</h4>
                          Job Descriptions<br>
                          1. Based on the resources provided by the company, be responsible for making phone calls and communicating with clients who plan to study abroad. <br>
                          2. Welcome new clients, be responsible for the notetaking of clients’ study-abroad related questions, consultations, answering and guidance. <br>
                          3. Be familiar with the clients’ needs, and analyze the current condition of clients, give initial and reasonable study-abroad suggestions.<br>
                          4. Keep record of clients’ information, track the clients progress in a timely manner.<br>
                          5. Actively promote the signing of contract, customize study plans for clients<br>
                          6. Resolve the problems brought up by customers and their parents.<br>
                          <br>
                          Job requirements<br>
                          1. Master’s degree and above, with an academic background in education and public relations, skilled in the English version of Microsoft Office software, experiences in studying in the US is preferred.<br>
                          2. Excellent communication skills, good logical thinking, good awareness of customer service <br>
                          3. Can work under pressure, have responsibilities and self-improvement, hardworking and persistent.<br>
                          4. Have the passion for education consulting industry.
                        </div>

                        <!--<a href="#" class="text-white font-13">Read More <span class="fa fa-angle-right"></span></a>-->

                        <!--<div class="show-icon"><a class="hover-link" data-lightbox="image" href="assets/news/news-1.png"><i class="pe-7s-expand1 text-white"></i></a></div>-->

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item marketing finance">
                  <div class="project-gallery">
                    <div class="project-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/joinus-thumb-2.png">
                      <h4 class="title text-theme-colored2"><i class="fa fa-globe f-30"></i> Master’s Education Consultant</h4>
                      <div class="project-caption">

                        <!--<h3 class="text-white title line-bottom-theme-colored2 mt-0 mb-20">前麻省理工学院招生官</h3>-->

                        <!--<h5>伊万斯女士</h5>-->

                        <div class="join-details">
                          <h4 class="title"><i class="fa fa-globe f-30"></i> Master’s Education Consultant</h4>
                          Job Description<br>
                          1. Be able to communicate with students about the introduction of the campus, and the program curriculums.<br>
                          2. Help students develop their strengths and uniqueness through interacting with students, application consultants, and foreign consultants<br>
                          3. Assist students with pinpointing his/her position, create the personal application essays based on related information.<br>
                          4. Based on the background of the student and the admissions requirement of the schools, create personal essays accordingly.<br>
                          <br>
                          Job Description<br>
                          1. Have received trainings on writing skills, communications skills for workplace,  and different service packages of our company.<br>
                          2. Master’s degree from American top Universities.<br>
                          3. Familiar with the whole process of the online application, have a deep understanding of American culture.<br>
                          4. Have conducted holistic research and gained enough experiences in the composition of application essays and job hunting essays.<br>
                          5. Excellent learning ability, communication skills, and amiability.<br>
                          6. Have previous working experiences in student organizations.<br>
                          7. Flexible and innovative, have a strong team spirit.<br>
                        </div>

                        <!--<a href="#" class="text-white font-13">Read More <span class="fa fa-angle-right"></span></a>-->

                        <!--<div class="show-icon"><a class="hover-link" data-lightbox="image" href="assets/news/news-1.png"><i class="pe-7s-expand1 text-white"></i></a></div>-->

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item marketing finance">
                  <div class="project-gallery">
                    <div class="project-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/joinus-thumb-3.png">
                      <h4 class="title text-theme-colored2"><i class="fa fa-globe f-30"></i> Data Administrator  </h4>
                      <div class="project-caption">

                        <!--<h3 class="text-white title line-bottom-theme-colored2 mt-0 mb-20">前麻省理工学院招生官</h3>-->

                        <!--<h5>伊万斯女士</h5>-->

                        <div class="join-details">
                          <h4 class="title"><i class="fa fa-globe f-30"></i> Data Administrator  </h4>
                          Job Descriptions<br>
                          1. As the responsible person of the Data Management Team, the data administrator should provide technical support for all data analytics and management programs<br>
                          2. Be able to organize and distribute work loads and assignments within the Data Management Team.<br>
                          3. Be able to properly manage and monitor operations of data system, including database recovery and backup, system functional update and upgrade, journal report analysis, etc.<br>
                          4. Be able to design and develop efficient database server on Oracle, DB2, SQL servers, with classification and update functions<br>
                          5. Resolve daily issues of operation in database system<br>
                          6. Be able to handle system operation issues and hardware malfunction<br>
                          7. Assist supervisor to collaborate data management related works<br>
                          8. Have sharp awareness of communication and service; be able to handle emergency issues regarding database management and operation experiences<br>
                          9. Be able to follow corporate orders regarding data management tasks.<br>
                          <br>
                          Job Requirements<br>
                          1. Bachelor's Degree or higher from top-class US institutions in computer science, data analytics, and related field<br>
                          2. Be proficient in SQL server installation, management, backup, debug, update, upgrade, maintenance.<br>
                          3. Familiarity with the Office software suite, has the basic knowledge of internet and network infrastructure<br>
                          4. Be familiar with data sensitive law and legislation terms.<br>
                          5. Have experiences of Oracle, DB2, SQL database and common database management platform.<br>
                          6. More than 1 year’s data analytics and management work experience. </div>

                        <!--<a href="#" class="text-white font-13">Read More <span class="fa fa-angle-right"></span></a>-->

                        <!--<div class="show-icon"><a class="hover-link" data-lightbox="image" href="assets/news/news-1.png"><i class="pe-7s-expand1 text-white"></i></a></div>-->

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item marketing finance">
                  <div class="project-gallery">
                    <div class="project-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/joinus-thumb-4.png">
                      <h4 class="title text-theme-colored2"><i class="fa fa-globe f-30"></i> Doctoral Education Consultant</h4>
                      <div class="project-caption">

                        <!--<h3 class="text-white title line-bottom-theme-colored2 mt-0 mb-20">前麻省理工学院招生官</h3>-->

                        <!--<h5>伊万斯女士</h5>-->

                        <div class="join-details">
                          <h4 class="title"><i class="fa fa-globe f-30"></i> Doctoral Education Consultant</h4>
                          Job Descriptions<br>
                          1. Assist with the revision of application essays.<br>
                          2. According to the student background characters and the application requirements of schools, perfect the application essays and make them align with the school’s admissions requirement as well as the school culture<br>
                          3. Provide career planning and design, maintain close communication with US consulting teams.<br>
                          4. Introduce the professional direction of top schools, the difficulty level, and the characteristics of the professor.<br>
                          <br>
                          Job Requirements <br>
                          1. American Top 50 current Phd students or who have already obtained a doctoral degree from American Top 50 Universities.<br>
                          2. Be familiar with the whole application process, and have a deep understanding of the American culture.<br>
                          3. Have conducted holistic research and gained enough experiences in the composition of application essays and job hunting essays. </div>

                        <!--<a href="#" class="text-white font-13">Read More <span class="fa fa-angle-right"></span></a>-->

                        <!--<div class="show-icon"><a class="hover-link" data-lightbox="image" href="assets/news/news-1.png"><i class="pe-7s-expand1 text-white"></i></a></div>-->

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item marketing finance">
                  <div class="project-gallery">
                    <div class="project-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/joinus-thumb-5.png">
                      <h4 class="title text-theme-colored2"><i class="fa fa-globe f-30"></i> Elite Working Professionals Team</h4>
                      <div class="project-caption">

                        <!--<h3 class="text-white title line-bottom-theme-colored2 mt-0 mb-20">前麻省理工学院招生官</h3>-->

                        <!--<h5>伊万斯女士</h5>-->

                        <div class="join-details">
                          <h4 class="title"><i class="fa fa-globe f-30"></i> Elite Working Professionals Team</h4>
                          Job Descriptions<br>
                          1. Provide professional career advices for clients<br>
                          2. Be able to improve the education background for clients<br>
                          3. Provide students with overseas internship experiences.<br>
                          <br>
                          Job requirement<br>
                          1. Bachelor or higher degree from acredited U.S. universities<br>
                          2. At least 3 year working experiences from American or Chinese Fortune Global 500 <br>
                          3. Strong team spirit </div>

                        <!--<a href="#" class="text-white font-13">Read More <span class="fa fa-angle-right"></span></a>-->

                        <!--<div class="show-icon"><a class="hover-link" data-lightbox="image" href="assets/news/news-1.png"><i class="pe-7s-expand1 text-white"></i></a></div>-->

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item marketing finance">
                  <div class="project-gallery">
                    <div class="project-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/joinus-thumb-6.png">
                      <h4 class="title text-theme-colored2"><i class="fa fa-globe f-30"></i> Copy Writer</h4>
                      <div class="project-caption">

                        <!--<h3 class="text-white title line-bottom-theme-colored2 mt-0 mb-20">前麻省理工学院招生官</h3>-->

                        <!--<h5>伊万斯女士</h5>-->

                        <div class="join-details">
                          <h4 class="title"><i class="fa fa-globe f-30"></i> Copy Writer</h4>
                          Job Descriptions<br>
                          1. Assist with the revision of the application essays;<br>
                          <br>
                          2. According to the student background characters and the application requirements of schools, perfect the application essays and make them align with the school’s admissions requirement as well as the school culture;<br>
                          3. Provide career planning and design, maintain close communication with US consulting teams.;<br>
                          4. Introduce the professional direction of top schools, the difficulty level, and the characteristics of the professor.<br>
                          <br>
                          Job Requirements<br>
                          1. Former experiences in the web promotion, soft sell advertising writing , blog posts, forum posts, SNS stickers and other marketing strageties<br>
                          2. Experiences in organizing big event and event planning is preferred.<br>
                          3. Skilled in writing all types and genres of works, detail oriented, have strong strageticial  and creative thinking<br>
                          4. Be able to work under pressure, creative and observant.<br>
                          5. Have strong team spirit, listen to people’s advice, be able to work independently, Have a strong sense of initiative </div>

                        <!--<a href="#" class="text-white font-13">Read More <span class="fa fa-angle-right"></span></a>-->

                        <!--<div class="show-icon"><a class="hover-link" data-lightbox="image" href="assets/news/news-1.png"><i class="pe-7s-expand1 text-white"></i></a></div>-->

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Portfolio Item End -->

              </div>

              <!-- End Portfolio Gallery Grid -->

            </div>
          </div>
        </div>
      </div >
    </section>


    <!-- Section: Team -->

    <section class="parallax" data-bg-img="assets/cases/bg8.jpg" data-bg-parallax="0.3">
      <div class="container pb-sm-20">
        <div class="row justify-content-center title-up">
          <div class="section-title text-center pl-15 pr-15">

            <h2 class="title-effect text-theme-colored2 mt-0">Easymay is your optimal consideration</h2>
            <p class="text-white">Trained talents from multiple fields.  /Long- term and stable development opportunities. /Systemized growth training </p>
          </div>
          <div class="col-md-12">
            <p class="text-white mt-5 font-15 sm-text-left text-center">For many years, Easymay adheres to the development strategy of “based in the US, integrating high-end education resources, and continuously improving service competitiveness”, and believes in the service criteria of of focusing on elite education. Because of the scarcity of high-end educational resources in study abroad industry, the growing demand for personalized service from Chinese middle and upper class families, and the great potential of the study-abroad service market.<br>
              The trend of attending US schools at a younger age for international students and the the multi-level needs by these young generations will bring significant opportunities for the rapid development of American private education consulting company such as Easymay Education. 
              If you are enthusiastic about a career as an overseas education consultant, Easymay is your first choice!<br>
              If you are enthusiastic about a career as an overseas education consultant, Easymay is your first choice!<br>              
            </p>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-20">
              <div class="image-box-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/1.jpeg">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-20">
              <div class="image-box-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/2.jpeg">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-20">
              <div class="image-box-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/3.jpeg">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pb-sm-20">
              <div class="image-box-thumb"> <img class="img-fullwidth" alt="" src="assets/joinus/4.jpeg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Contact Form-->
    <section class="services-form" id="service-contact-form">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h3 class="title-effect text-white font-24 font-weight-600 mt-0 mb-20">Let Easymay guide you through the path to your dream!</h3>
              <h2 class="title-effect mt-0 mb-20"></h2>

              <p class="text-white pt-20 pb-20"> If you are enthusiastic about a career as an education consultant, if you are curious about real estate consulting, if you want to make a difference in the study abroad industry, if you want to make every effort to strive and succeed in your personal career in the US; Join Easymay family! Trained talents from multiple fields.  /Long- term and stable development opportunities. /Systemized growth training, five specific job orientations to be pinpointed. As long as you have the enthusiasm and competence, we welcome you to join us!
              </p>
              <div class="bcode"> <img src="assets/bcode.jpeg" width="100" alt="" title=""> </div>
            </div>

            <div class="col-md-6">
              <h5 class="text-white">Join Easymay, unlock your future</h5>
              <form role="form" method="post" id="reused_form">
                <div class="row">
                  <div class="form-group col-sm-12">
                    <input type="text" class="form-control" id="firstname" name="firstname" maxlength="50" placeholder="Name*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="email" name="email" maxlength="50" placeholder="Eamil*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <input type="tel" class="form-control" id="phone" name="phone" maxlength="50" placeholder="Number*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <textarea class="form-control" id="message" name="message" placeholder="Self-intro*" maxlength="6000" rows="7"></textarea>
                  </div>
                </div>
                <div class="form-group pt-60">
                  <button class="btn btn-theme-colored" type="submit">Apply Now<i class="fa fa-paper-plane pl-5"></i></button>
                </div>
              </form>
              <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
              <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
            </div>

          </div>
        </div>
      </div>
    </section>



    <section class="divider parallax text-center" data-bg-img="assets/joinus/JOINUSDIVIDER.jpeg">
      <div class="container pt-120 pb-120">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="text-white font-30 ">Easymay is seeking business partners world-wide</h3>
            <h5 class="text-white">Join Easymay, and build a platform for Chinese students and U.S. universities</h5>
          </div>
        </div>
      </div>
    </section>



  </div>
  {% include footer_en.html %}
</div>