---
layout: default
title: 易美教育 | Easymay
---

<div id="wrapper" class="clearfix">
  <!-- {% include preloader.html %} -->
  {% include navigation.html %}
  <div class="main-content">


    <section id="home" class="divider">
      <div class="container-fluid p-0 ">
        <div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="test5" data-source="gallery" style="margin:0px auto;background:#0c0b09;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.4.7.2 fullwidth mode -->
          <div id="rev_slider_10_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.2">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-61" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="550"  data-thumb="assets/services/service-bg6.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/majors/majors-bg.jpg"  alt="" title="slide-1"  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-61-layer-1"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['254','254','254','254']"
                     data-fontsize="['45','45','45','41']"
                     data-lineheight="['48','48','48','42']"
                     data-width="['100%','100%','100%','95%']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":530,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="position: relative; z-index: 5; min-width: 100%; max-width: 100%; white-space: nowrap; font-size: 45px; line-height: 48px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">
                  独家热门专业易解析
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-61-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['399','399','399','439']"
                     data-width="100%"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":1080,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="position: relative; z-index: 7; min-width: 100%; max-width: 100%; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                  <h2 class="font-20 text-white mb-30 pt-40">史上最全美国大学专业解读与就业前景分析，你值得拥有</h2>
                </div>
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
        </div><!-- END REVOLUTION SLIDER -->
        <script type="text/javascript">
          var revapi10,
            tpj;
          (function() {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();
            function onLoad() {
              if (tpj===undefined) { tpj = jQuery; if("on" == "on") tpj.noConflict();}
              if(tpj("#rev_slider_10_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_10_1");
              }else{
                revapi10 = tpj("#rev_slider_10_1").show().revolution({
                  sliderType:"standard",
                  jsFileLocation:"//credentusa.com/wp-content/plugins/revslider/public/assets/js/",
                  sliderLayout:"fullwidth",
                  dottedOverlay:"none",
                  delay:2000,
                  navigation: {
                    keyboardNavigation:"on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    mouseScrollReverse:"default",
                    onHoverStop:"on",
                    touch:{
                      touchenabled:"on",
                      touchOnDesktop:"off",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                    }
                    ,
                    arrows: {
                      style:"hermes",
                      enable:false,
                      hide_onmobile:true,
                      hide_under:700,
                      hide_onleave:false,
                      tmp:'<div class="tp-arr-allwrapper">  <div class="tp-arr-imgholder"></div>  <div class="tp-arr-titleholder">{{title}}</div> </div>',
                      left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:0,
                        v_offset:0
                      },
                      right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:0,
                        v_offset:0
                      }
                    }
                  },
                  responsiveLevels:[1240,1024,778,480],
                  visibilityLevels:[1240,1024,778,480],
                  gridwidth:[1230,1024,778,480],
                  gridheight:[650,768,960,800],
                  lazyType:"none",
                  parallax: {
                    type:"mouse",
                    origo:"enterpoint",
                    speed:400,
                    speedbg:0,
                    speedls:0,
                    levels:[5,10,15,20,25,30,35,40,45,50,47,48,49,50,51,55],
                  },
                  shadow:0,
                  spinner:"spinner2",
                  stopLoop:"off",
                  stopAfterLoops:-1,
                  stopAtSlide:-1,
                  shuffle:"off",
                  autoHeight:"off",
                  disableProgressBar:"on",
                  hideThumbsOnMobile:"off",
                  hideSliderAtLimit:0,
                  hideCaptionAtLimit:0,
                  hideAllCaptionAtLilmit:0,
                  debugMode:false,
                  fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                  }
                });
              }; /* END OF revapi call */

            }; /* END OF ON LOAD FUNCTION */
          }()); /* END OF WRAPPING FUNCTION */
        </script>
      </div>
    </section>

    <!-- Start News Grid-4 -->

    <section class="news-bg preload">
      <div class="container">
        <div class="section-content pnews-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Portfolio Filter -->

              <div class="portfolio-filter">
                  <a href="#" class="active" data-filter="*">全部 (51)</a>
                  <a href="#branding" class="" data-filter=".branding">商科 (11)</a>
                  <a href="#design" class="" data-filter=".design">理工科 (19)</a>
                  <a href="#photography" class="" data-filter=".photography">交叉学科 (8)</a>
                  <a href="#news" class="" data-filter=".news">文科 (13)</a>
              </div>

              <!-- End Portfolio Filter -->

              <!-- Portfolio Gallery Grid -->

              <div id="grid" class="gallery-isotope default-animation-effect grid-4 gutter-30 clearfix clients-list-grid">

                <!-- Portfolio Item Start -->
                
                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486457&idx=1&sn=2816424f01969ba7cc2390c46a09bb9c&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/1.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">金融/金工/金数</h4>
                    <h6 class="mt-0 text-white">金融、金工、金数哪个适合你？</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486411&idx=1&sn=bd759e24acbea92204f83ce40fad39ca&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/2.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">市场营销</h4>
                    <h6 class="mt-0 text-white">市场营销专业申请全面解读 </h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486642&idx=2&sn=12774a1ef3f7bae3878e78a812aa9f4a&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/3.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">会计</h4>
                    <h6 class="mt-0 text-white">会计专业申请全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486695&idx=2&sn=fbc374a5840140c9d88542fe9e1ddbbe&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/4.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">经济学</h4>
                    <h6 class="mt-0 text-white">ECON专业申请全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487089&idx=2&sn=5cfd71e11a1652bf802b46d628f0735f&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/5.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">人力资源</h4>
                    <h6 class="mt-0 text-white">炙手可热的人力资源专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486668&idx=2&sn=12d2e308f7eaa80a61c26c7aefa99563&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/6.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">房地产</h4>
                    <h6 class="mt-0 text-white">房地产专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487167&idx=2&sn=a885c109ab45d23604a95a23e07afd06&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/7.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">统计学</h4>
                    <h6 class="mt-0 text-white">统计学专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487548&idx=2&sn=21c4c17f833c19125c507897c1a5845c&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/8.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">风险管理</h4>
                    <h6 class="mt-0 text-white">风险管理专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487615&idx=2&sn=129b415ba93c25689f7a5b7962b8bf62&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/9.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">企业管理</h4>
                    <h6 class="mt-0 text-white">企业管理专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486072&idx=1&sn=b5df01cb375f7dc84514bc0c90c33a66&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/10.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">商业分析</h4>
                    <h6 class="mt-0 text-white">年薪7万刀的BA专业真的适合你吗？</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item branding">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487647&idx=2&sn=69198d3839031c0251eabf94de9a93c1&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/business/11.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">精算</h4>
                    <h6 class="mt-0 text-white">精算专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486360&idx=1&sn=5f93d7b7d1081c826ae80eec4181a948&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/1.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">计算机</h4>
                    <h6 class="mt-0 text-white">美国专业只有CS和非CS两种？</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486465&idx=1&sn=134a8a2acb72d2140583993f36560b14&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/2.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">数学</h4>
                    <h6 class="mt-0 text-white">关于数学专业，你想知道的全在这里</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486517&idx=1&sn=e5ec5dd5efcd7240aa44d1b46e6ea623&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/3.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">电气工程</h4>
                    <h6 class="mt-0 text-white">电气工程专业申请全面解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487318&idx=2&sn=4963ca136c58f9492be237b619e5cb44&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/4.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">营养学</h4>
                    <h6 class="mt-0 text-white">营养学专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487371&idx=2&sn=69540ebe2b15664ec91ca1b4ac54709c&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/5.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">建筑学</h4>
                    <h6 class="mt-0 text-white">建筑学专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486776&idx=2&sn=66092414f5e44f00279d2f1c2249a763&from=singlemessage&isappinstalled=0&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/6.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">工业工程</h4>
                    <h6 class="mt-0 text-white">工业工程专业申请全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486717&idx=2&sn=abe3b876d0686ed4d5f0ccebbd0dc207&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/7.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">机械工程</h4>
                    <h6 class="mt-0 text-white">机械工程专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487231&idx=2&sn=75dc70e0403683773867c69527367289&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/8.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">生物学</h4>
                    <h6 class="mt-0 text-white">生物学专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487145&idx=2&sn=d334b18e192d956d3ffbde2675554d9f&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/9.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">物理学</h4>
                    <h6 class="mt-0 text-white">物理学专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487118&idx=2&sn=5b576d65adf13740367006882f155e67&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/10.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">土木工程</h4>
                    <h6 class="mt-0 text-white">土木工程专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487191&idx=2&sn=e302e128144ab42e14766516ed38de8e&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/11.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">城市规划</h4>
                    <h6 class="mt-0 text-white">城市规划专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487049&idx=2&sn=356f0aa68d1fa1a98f77de4323ae474e&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/12.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">化学工程</h4>
                    <h6 class="mt-0 text-white">化学工程专业≠化学</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487433&idx=2&sn=ac6b61481fda2a9b78143ea20d2830b6&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/13.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">数据科学</h4>
                    <h6 class="mt-0 text-white">Data Science专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487467&idx=2&sn=1ce131d47979760de8fab35a61402ebb&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/14.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">植物学</h4>
                    <h6 class="mt-0 text-white">植物学专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487671&idx=2&sn=0d6a36e2532fb01644a95e06d885096e&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/15.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">环境工程</h4>
                    <h6 class="mt-0 text-white">环境工程专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487904&idx=2&sn=f386a446766f469fd63460307cba3211&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/16.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">工程管理</h4>
                    <h6 class="mt-0 text-white">工程管理专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487924&idx=2&sn=cb90eb282dc74ace35deed2c3c288432&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/17.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">石油工程</h4>
                    <h6 class="mt-0 text-white">石油工程专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247488031&idx=2&sn=5b45ac14a4b4818d3f47ea3163412228&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/stem/18.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">材料科学</h4>
                    <h6 class="mt-0 text-white">材料科学与工程专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item design">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s/Dlo4dKkb15BotWTI46NjYA" target="_blank">
                  <img src="assets/majors/stem/19.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">生物工程</h4>
                    <h6 class="mt-0 text-white">生物工程专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486742&idx=2&sn=1a5101c88d2ef19282bd5d207f8daed4&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/1.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">供应链管理</h4>
                    <h6 class="mt-0 text-white">供应链管理专业，你想知道的全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487404&idx=2&sn=218e1837161bc42c1025d5a1d70f4742&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/2.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">体育管理</h4>
                    <h6 class="mt-0 text-white">体育管理专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487019&idx=2&sn=774730e46b1e407c0514cc4cb3c0bc02&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/3.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">酒店管理</h4>
                    <h6 class="mt-0 text-white">酒店管理专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487058&idx=2&sn=c481bf1f2a1842ff9dec08e750d31c62&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/4.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">运筹学</h4>
                    <h6 class="mt-0 text-white">运筹学专业申请全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486925&idx=2&sn=f1dbef2a4ff17be516ad833dbd8ddaea&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/5.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">管理信息系统</h4>
                    <h6 class="mt-0 text-white">管理信息系统专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486993&idx=2&sn=634dd6ce0faa86edc1d0edd3db4f9cda&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/6.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">公共政策</h4>
                    <h6 class="mt-0 text-white">公共政策&管理专业</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487565&idx=2&sn=3768c4cd708870f271af02ae4d0e0892&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/7.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">食品科学</h4>
                    <h6 class="mt-0 text-white">食品科学与工程专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item photography">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487528&idx=2&sn=fe9163ffa42b6354b32676f26f023617&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/mix/8.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">人机交互</h4>
                    <h6 class="mt-0 text-white">人机交互专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486226&idx=1&sn=8740261c7e4dbadc5197b4ba81944b45&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/1.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">传媒</h4>
                    <h6 class="mt-0 text-white">传媒=媒体？美国传媒申请大解析</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486315&idx=1&sn=5f4894fd2c157ae97b95414ca33fcfec&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/2.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">教育</h4>
                    <h6 class="mt-0 text-white">教育学就没有STEM了？</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247485992&idx=1&sn=75199ee53658b6ecd0c9ad6a40ac8270&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/3.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">艺术</h4>
                    <h6 class="mt-0 text-white">街头艺人和策展大咖你pick哪个？</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486893&idx=2&sn=f69e1470cf3f847a4338be6ea11c9bcd&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/4.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">心理学</h4>
                    <h6 class="mt-0 text-white">心理学专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487348&idx=2&sn=01180c5b233a7ecb38758d663b898372&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/5.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">社会学</h4>
                    <h6 class="mt-0 text-white">社会学专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487271&idx=2&sn=d00675686210a1522ddc64b2f7451161&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/6.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">语言学</h4>
                    <h6 class="mt-0 text-white">语言学专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487249&idx=2&sn=5654d92482d235d1a0809fe51870b7a7&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/7.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">公共卫生</h4>
                    <h6 class="mt-0 text-white">公共卫生专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247488008&idx=2&sn=a5a969930a814bf001b6b0f1e00d3981&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/8.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">平面设计</h4>
                    <h6 class="mt-0 text-white">平面设计专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487297&idx=2&sn=17aa6792c33f1a96de5d18f83dfb1165&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/9.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">法律</h4>
                    <h6 class="mt-0 text-white">法律专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247486952&idx=2&sn=d57092fe5f677a322d5d4d91f23e2ce7&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/10.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">社会工作</h4>
                    <h6 class="mt-0 text-white">社会工作专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487492&idx=2&sn=71f28fed842340f837e7db9276bc1b7b&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/11.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">电影专业</h4>
                    <h6 class="mt-0 text-white">电影专业全解读</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487589&idx=2&sn=079de48f797d673578143520f0710975&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/12.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">国际关系</h4>
                    <h6 class="mt-0 text-white">国际关系专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->

                <div class="gallery-item news">

                  <!--Image-->
                    <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487859&idx=2&sn=466ff66fc42cc008a054f9a2afedb761&scene=21#wechat_redirect" target="_blank">
                  <img src="assets/majors/art/13.jpeg" alt="" title="">
                  <div class="image-box-details pt-15 pb-sm-20">
                    <h4 class="text-uppercase font-weight-600 mt-0 mb-5 text-white">服装设计</h4>
                    <h6 class="mt-0 text-white">服装设计专业知多少</h6>
                  </div></a>
                </div>

                <!-- Portfolio Item End -->

              </div>

              <!-- End Portfolio Gallery Grid -->

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- END NEws Grid-->

  </div>
  {% include footer.html %}
</div>