---
title: "易美事记 | Easymay"
layout: default
---

  <div id="wrapper" class="clearfix">

    <!-- preloader -->
    <!-- {% include preloader.html %} -->
    <!-- Header -->
    {% include navigation_en.html %}
  <div class="main-content">
    <section id="home" class="divider">
      <div class="container-fluid p-0">
        <div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="test" data-source="gallery" style="margin:0px auto;background:#0c0b09;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.4.7.2 fullwidth mode -->
          <div id="rev_slider_5_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.2">
            <ul>

              <li data-index="rs-12" data-transition="fade" data-slotamount="7,7" data-hideafterloop="0"
                  data-hideslideonmobile="off" data-easein="default,default" data-easeout="default,default"
                  data-masterspeed="300,300" data-thumb="assets/home/Block1/0.jpg" data-rotate="0,0"
                  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"
                  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                  data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- MAIN IMAGE -->

                <a href="https://www.toutiao.com/i6649217329915757070" target="_blank" class="customURLOverlay">
                </a>
                <img src="assets/home/Block1/0.jpg" alt="" title="1" width="1920" height="480"
                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
                     class="rev-slidebg" data-no-retina>


                <!-- LAYERS -->

              </li>
              <!-- SLIDE  -->
              <li data-index="rs-27" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="550"  data-thumb="assets/news/slide-1.jpeg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/news/slide-1.jpeg"  alt="" title="slide-1"  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-27-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['254','254','254','254']"
                     data-fontsize="['45','45','45','41']"
                     data-lineheight="['48','48','48','42']"
                     data-width="['none','none','none','95%']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":530,"speed":400,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 5; white-space: nowrap; font-size: 45px; line-height: 48px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">Easymay Ivy League Admission Advisory Committee </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-27-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="['12','12','12','13']"
                     data-y="['top','top','top','top']" data-voffset="['323','323','323','364']"
                     data-lineheight="['26','26','26','24']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":760,"speed":400,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 26px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                     Based in its home field of United States
                     <br>Top “Think Tank” helps Easymay students excel  </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-27-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['12','12','12','13']"
                     data-y="['top','top','top','top']" data-voffset="['399','399','399','439']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":1080,"speed":400,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;"><a class="qbutton-style icon_right" href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247487440&idx=1&sn=d1ba1c795ddbafe9d6477b14ffe41138&scene=21#wechat_redirect " target="_blank">Read More</a> <a class="qbutton-style" href="contact.html" target="_self"><span class="text_wrap">Contact Us</span></a> </div>
              </li>

              <!-- SLIDE  -->
              <li data-index="rs-36" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="530"  data-thumb="assets/news/slide-2.png"  data-rotate="0"  data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/news/slide-2.png"  alt="" title="slide-1"  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-36-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['254','254','254','254']"
                     data-fontsize="['45','45','45','40']"
                     data-lineheight="['48','48','48','42']"
                     data-width="['none','none','none','95%']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":530,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 5; white-space: nowrap; font-size: 45px; line-height: 48px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">
                     In 2018, once again, Easymay launched another Campus Visits<br>
                      visited 30 famous schools across the United States in three months.</div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-36-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['324','324','324','364']"
                     data-lineheight="['26','26','26','24']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":780,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 26px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                     As the only American Education Institution 
                  <br>
                  Easymay was invited to participate in Harvard University, University of Pennsylvania, <br>
                  Cornell University, Columbia University, UC berkeley, University of Michigan--Ann Arbor <br>
                  and nearly 30 US top-tier University’s summits and forums </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-36-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['399','399','399','439']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":1090,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;"><a class="qbutton-style icon_right " href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247485839&idx=1&sn=3a4151caf22f7b62c82eed3341c60ec6&chksm=e8f41331df839a27b4ce333ad68ddfbe9b4780c1983940e4b4b1e0d240d077db16f4006ad353&mpshare=1&scene=21&srcid=0510IG19F4qxrVzJ1wfZnJfK&key=9387a1ed96c97cc0c8a509bb7838f990786f17f6f939f43536ee5308d7d0d0e305bccccefaedfb526daca2083055a1c6e1fb05e9b0bd1efe66bf664ec59bcc86a00cf32586f54f967005846bab0d330b&ascene=0&uin=MTUxMTAyMTQwMQ==&devicetype=iMac%20MacBookAir7,2%20OSX%20OSX%2010.12.5%20build(16F73)&version=12020610&nettype=WIFI&lang=zh_CN&fontScale=100&pass_ticket=/3ZAS6/XeANfDva3rZ09LcbGj7QwDe8rplDCMo0dUnjlfih7NjBR3iWQ%20Kxvj/I5#wechat_redirect " target="_blank">Read More</a>
                  <a class="qbutton-style" href="contact.html" target="_self"><span class="text_wrap">Contact Us</span></a> </div>
              </li>

              <!-- SLIDE  -->
              <li data-index="rs-37" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="530"  data-thumb="assets/news/slide-3.png"  data-rotate="0"  data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/news/slide-3.png"  alt="" title="slide-1"  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 7 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-37-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['254','254','254','254']"
                     data-fontsize="['45','45','45','41']"
                     data-lineheight="['48','48','48','42']"
                     data-width="['none','none','none','95%']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":530,"speed":400,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 5; white-space: nowrap; font-size: 45px; line-height: 48px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">2017 US-China VC Summit & Startup Expo </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-37-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['323','323','323','364']"
                     data-lineheight="['26','26','26','24']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":760,"speed":400,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 26px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                     As the the exclusive partner with US educational institution<br>
                     Easymay was invited to attend the 2017  US-China VC Summit & Startup Expo </div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-37-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['399','399','399','439']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":1080,"speed":400,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;"><a class="qbutton-style icon_right" href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247485184&idx=1&sn=9c85ecbc4fa22faaf62fbaabace52a67&scene=21#wechat_redirect " target="_blank">Read More</a>
                  <a class="qbutton-style" href="contact.html" target="_self"><span class="text_wrap">Contact Us</span></a> </div>
              </li>

              <!-- SLIDE  -->
              <li data-index="rs-38" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="530"  data-thumb="assets/news/slide-4.png"  data-rotate="0"  data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/news/slide-4.png"  alt="" title="slide-1"  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 10 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-38-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['254','254','254','254']"
                     data-fontsize="['45','45','45','41']"
                     data-lineheight="['48','48','48','42']"
                     data-width="['none','none','none','95%']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":530,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 5; white-space: nowrap; font-size: 45px; line-height: 48px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">
                     Easymay is Exclusively affiliated with <br>
                     the top ranking American University--- <br>
                     Northwestern University </div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-38-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="['12','12','12','13']"
                     data-y="['top','top','top','top']" data-voffset="['322','323','323','364']"
                     data-lineheight="['26','26','26','24']"
                     data-width="['none','95%','95%','457']"
                     data-height="none"
                     data-whitespace="['nowrap','normal','normal','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":760,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 26px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                     The two parties have established cooperation frameworks in the area of customized application models,<br>
                      program matching, student sources, and international student scholarships for Chinese students, <br>
                      and have carried out in-depth cooperation. </div>

                <!-- LAYER NR. 12 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-38-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['13','13','13','13']"
                     data-y="['top','top','top','top']" data-voffset="['399','399','399','469']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":1080,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;"><a class="qbutton-style icon_right" href="https://mp.weixin.qq.com/s?__biz=MzIzNDUwODI0MQ==&mid=2247485383&idx=1&sn=3dc118b1bcc3f4340fd3110c64e97073&chksm=e8f41d79df83946f86294c16b041884e2f8f5128c0aa5695ac0f9f745973b181f96b9468d572&mpshare=1&scene=21&srcid=1229b0BKP1R1c0PgaE7ovY9q#wechat_redirect " target="_blank">Read More</a>
                  <a class="qbutton-style" href="contact.html" target="_self"><span class="text_wrap">Contact Us</span></a> </div>
              </li>

              <!-- SLIDE  -->
              <li data-index="rs-29" data-transition="fade" data-slotamount="7,7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="800"  data-thumb="assets/news/slide-5.png"  data-rotate="0,0"  data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/news/slide-5.png"  alt="" title="2"  width="1920" height="480" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
              </li>

              <!-- SLIDE  -->
              <li data-index="rs-30" data-transition="fade" data-slotamount="7,7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="800"  data-thumb="assets/news/slide-6.png"  data-rotate="0,0"  data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/news/slide-6.png"  alt="" title="3"  width="1920" height="480" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
              </li>

              <!-- SLIDE  -->
              <li data-index="rs-31" data-transition="fade" data-slotamount="7,7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="800"  data-thumb="assets/news/slide-7.png"  data-rotate="0,0"  data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/news/slide-7.png"  alt="" title="s1"  width="1920" height="480" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
          </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
       
      </div>
    </section>
    <section class="news-bg preload">
      <div class="container">
        <div class="section-content pnews-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Portfolio Filter -->
              <div class="portfolio-filter"><a href="#" class="active" data-filter="*">All</a>
                <a href="#school_lecture" class="" data-filter=".school_lecture">Education Talk</a>
                <a href="#company_lecture" class="" data-filter=".company_lecture">Career Talk</a>
                <a href="#recruiter" class="" data-filter=".recruiter">Former Admissions Officers</a>
                <a href="#easymaynews" class="" data-filter=".easymaynews">Easymay Updates</a>
                <a href="#easymaycases" class="" data-filter=".easymaycases">Easymay Cases</a>
                <a href="#school_showcase" class="" data-filter=".school_showcase">Campus Tours</a>
              </div>

              <!-- Portfolio Gallery Grid -->
              <div id="grid" class="gallery-isotope default-animation-effect grid-4 gutter-30 clearfix">

                {% assign sorted = site.articlesen | sort:"sequence" %}
                {% for case in sorted %}
                {% if case.appear_page contains 'news' %}
                <div class="gallery-item {{case.type}}">
                  <img src="{{case.src}}" alt="" title="" height="172px" width="260px">
                  <div class="image-box-details">
                    <h4 class="title">{{case.title}}</h4>
                    <p class="desc">{{case.description}}</p>
                    <a href="{{case.url}}" target="_blank" class="btn btn-theme-colored">Read More</a>
                  </div>
                </div>
                 {% endif %}
                 {% endfor %}




           
               <!-- End Portfolio Gallery Grid -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer_en.html %}
  </div>
</div>

 <script> var revapi5, tpj;
        (function () {
          if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();

          function onLoad() {
            if (tpj === undefined) {
              tpj = jQuery;
              if ("on" == "on") tpj.noConflict();
            }
            if (tpj("#rev_slider_5_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_5_1");
            } else {
              revapi5 = tpj("#rev_slider_5_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "//credentusa.com/wp-content/plugins/revslider/public/assets/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 4000,
                navigation: {
                  keyboardNavigation: "on",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  mouseScrollReverse: "default",
                  onHoverStop: "on",
                  touch: {
                    touchenabled: "on",
                    touchOnDesktop: "off",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  },
                  arrows: {
                    style: "hermes",
                    enable: true,
                    hide_onmobile: true,
                    hide_under: 700,
                    hide_onleave: false,
                    tmp: '<div class="tp-arr-allwrapper">  <div class="tp-arr-imgholder"></div>  <div class="tp-arr-titleholder"></div> </div>',
                    left: {h_align: "left", v_align: "center", h_offset: 0, v_offset: 0},
                    right: {h_align: "right", v_align: "center", h_offset: 0, v_offset: 0}
                  }
                },
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: 1230,
                gridheight: 650,
                lazyType: "none",
                parallax: {
                  type: "mouse",
                  origo: "enterpoint",
                  speed: 400,
                  speedbg: 0,
                  speedls: 0,
                  levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 47, 48, 49, 50, 51, 55],
                },
                shadow: 0,
                spinner: "spinner2",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                disableProgressBar: "off",
                hideThumbsOnMobile: "on",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {simplifyAll: "off", nextSlideOnWindowFocus: "off", disableFocusListener: false,}
              });
            }
            ; /* END OF revapi call */
          }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */ </script>