---
layout: default
title: 易美教育 | Easymay
---

<div id="wrapper" class="clearfix">
  <!-- {% include preloader.html %} -->
  {% include navigation_en.html %}
  <div class="main-content">
    <section id="home" class="divider">
      <div class="slider-container slider-container-fullscreen planning-slider">
        <div class="slider" id="revolutionSliderFullScreen">
          <ul>
            <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

              <div class="tp-caption fullscreenvideo"data-x="0"data-y="0"data-speed="0"data-start="0"data-easing="easeOutExpo"data-autoplay="true"data-nextslideatend="true">
                <video class="video-js vjs-default-skin" autoplay loop style="margin-top: -250px;" poster="assets/services/video/placeholder-video-bg2.png">
                  <source src="assets/services/video/planning-strategy.mp4"  type='video/mp4;  codecs="avc1.42E01E, mp4a.40.2"'>
                  <source src="video/gray-clouds.ogv"  type='video/ogg;  codecs="theora, vorbis"'>
                </video>
              </div>
              <div class="display-table video-content-table">
                <div class="display-table-cell">
                  <div class="container pt-lg-160 pb-lg-10">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div class="border-text">
                          <h1 class="text-white text-uppercase font-48 text-white">Golden Plan</h1>
                          <p class="font-20 text-white mb-30 pt-40">Equipped with the academic experience from top Universities, our customer service team help create a perfect applicant profile</p>
                          <a class="qbutton-style icon_right addBG" href="#service-contact-form">Chat now</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <!-- Section About -->
    <section class="pt-sm-15">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section-title text-center pl-15 pr-15">

            <h2 class="title-effect text-theme-colored2 mt-0">Golden Plan</h2>
            <p class="text-white">Perfect application process, high quality study abroad experience</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 mb-30 ">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-target text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">Authentic and reliable application plans</h5>
                <p class="mb-0 text-white">Based on Easymay Top University’s database, Easymay evaluates every applicant’s portfolio comprehensively, referring to the most updated acceptance rate, curriculum and University’s admissions preference, and accurately match students with the right schools and programs</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 mb-30 ">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-user text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">Our customer service application team members are all graduates from US top Universities</h5>
                <p class="mb-0 text-white">Easymay completely upgraded all different parts of the application service process, and at each key timing point in the application process, we will help our students match the experienced consultant team with international education background.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 xs-mb-30">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-stats-up text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">Improve your competitiveness from all dimensions</h5>
                <p class="mb-0 text-white">The refined service fully explores the applicant's potentials, helps them meet the basic admission criteria of the target institutions and majors from different dimensions, and utilizes abundant on-campus work experience to assist applicants to create unique application profiles.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-unlock text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">Provide transparent services in all stages</h5>
                <p class="mb-0 text-white">To ensure the high standard service quality, and ensure the transparency of the services, our customer service application team follows up with the top schools without any delay, and provides high quality service to ensure there is no error in any stage of the service.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Divider: Funfact --><section class="services-list-bg services parallax" data-bg-img="assets/services/p3-3b3.jpeg">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-7">
              <h2 class="title-effect mt-0 mb-30 text-white">Is Golden plan a fit for you?</h2>
              <ul class="list list-hand zhuanxiangStyle">
                <li> Do you want to apply for undergraduate/graduate programs in US colleges within the next 2 years? Want to be admitted into TOP50 universities?</li>
                <li> Need guidance from our Chinese and American application team? Want to gain an in-depth understanding of application processes?</li>
                <li> Need a low-budget application strategy? Want to DIY, but know little about application processes?</li>
              </ul><!--<a class="cta-border" href="">Read More</a>-->

            </div>
            <div class="col-md-5">
              <div class="services-box">
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-user-o fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">50</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont" >American essay writing consultants from Ivy-league Schools</h2>
                  </div>
                </div>
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-graduation-cap fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">70</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont" >Excellent Ph.D. students from TOP50 Universities</h2>
                  </div>
                </div>
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-university fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">80+</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont">Brilliant graduate students from TOP30 Universities</h2>
                  </div>
                </div>
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-id-badge fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">1000</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont">Senior executives from TOP500 companies in the world</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section class="services parallax" data-bg-img="assets/services/service-bg.png">
      <div class="container pb-40">
        <div class="row justify-content-center">
          <div class="section-title text-center pl-15 pr-15"><h2 class="title-effect text-theme-colored2 mt-0">
            Golden Plan service advantages</h2>
            <!--<p class="text-white">易美通过多年走访名校和内部数据分析建立的易美独家名校信息数据库、案例库以及专业录取数据库，<br>-->
            <!--为易美学员进行数据筛选与匹配，精准定位理想院校与专业。 </p></div>-->
          </div>
          <div class="section-content services-block">
            <div class="row"> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip"
                                                                           href="#"><span
                  class="fa fa-users fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span> </a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    Experienced experts in applications of top colleges</h6>
                    <p class="text-white text-justify">
                      Supervised by admissions officers from TOP 30 colleges, who are familiar with actual application review processes. Provide personalized application strategy according to the personalities of students. </p>
                  </div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip"
                                                                           href="#"><span
                  class="fa fa-line-chart fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    Our American-style personal essays</h6>
                    <p class="text-white text-justify">
                      Our American elite team members  with the background of the TOP 40 US graduate school will comprehensively analyze the students’ background, specialized personal essays for different dream schools. We do NOT translate essays directly from Chinese. No essay templates of any kind. </p></div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip"
                                                                           href="#"><span
                  class="fa fa-handshake-o fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    American Ph.D. supervisors help improve academic backgrounds</h6>
                    <p class="text-white text-justify">
                        American Ph.D. from all majors with the background of TOP 50 colleges help students to deepen understandings of academic fields, enhance students’ academic background and internship experience and improve the international competitiveness of students</p>
                  </div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip" href="#"><span
                  class="fa fa-database fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    We provide many-to-one service for the whole journey and perfect one-stop service</h6>
                    <p class="text-white text-justify">
                      Easymay’s Golden Plan offers every candidate one-stop service, including application strategy planning, college/program selection, background enhancing, developing personal essays, filling online applications, standard tests scores sending, following application status, interview guidance, etc. </p></div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Pricing -->
    <section id="pricing" class="bg-black-color">
        <div class="container pt-90">
            <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
                <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                    <img src="assets/services/plan/1.png" class="img-fullwidth" alt=""> <ul class="list price-list theme-colored text-left flip check-circle mt-0 pb-20 bg-white">
                    <li>Essay Advisor from top 50 universities</li>
                    <li>Consultants with education degree from top 30 universities</li>
                    <li>Highlighting your uniqueness by US Doctorates</li>
                    <li>Professional Guidance from Top 50 ranked university former admissions officers</li>
                </ul>
                    <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">Reserve Now</a>  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
                <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                    <img src="assets/services/plan/3.png" class="img-fullwidth" alt=""> <ul class="list price-list theme-colored text-left flip check-circle mt-0 pb-20 bg-white">
                    <li>Former Admissions Officers from top 15 universities</li>
                    <li>No “safety” school</li>
                    <li>Essay Revision by US Writing Advisors</li>
                    <li>Easymay Exclusive Resources help you with the best matching</li>
                </ul>
                    <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">Reserve Now</a>  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
                <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                    <img src="assets/services/plan/2.png" class="img-fullwidth" alt=""> <ul class="list price-list theme-colored text-left flip check-circle mt-0 pb-20 bg-white">
                    <li>Former Admissions Officers from top 30 universities</li>
                    <li>Advising Team monitoring the whole application process</li>
                    <li>Personalized background enhancement plan</li>
                    <li>Boutique scientific research projects and top 500 internship opportunities</li>
                </ul>
                    <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">Reserve Now</a>  </div>
                </div>
            </div>
            </div>
        </div>
    </section>
          
    <!-- Section About -->

    <section class="services-form" id="service-contact-form">
        <div class="container">
            <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                <h2 class="title-effect mt-0 mb-0 text-white">Join the VIP Plan today</h2>
                <h2 class="title-effect mt-0 mb-20">Let us help you open the door to top universities</h2>
    
                <p class="text-white pt-20 pb-20"> Hard efforts needed for realizing a top university dream, the turning point of a child’s life should not based solely on a contract. Easymay wishes its best to support you on your way at the beginning of study abroad. Built with an emphasis on quality results and world-class integrity, we implement extensive experience in the local US education market, innovative counseling techniques, and top- tier professionals for delivering impactful solutions. Easymay wishes you never forget why you started, and makes a better you on your study. </p>
                <div class="bcode"> <img src="assets/bcode.jpeg" width="100" alt="" title=""> </div>
                </div>
    
                <div class="col-md-6">
                <form role="form" method="post" id="reused_form">
                    <div class="row">
                    <div class="form-group col-sm-12">
                        <input type="text" class="form-control" id="firstname" name="firstname" maxlength="50" placeholder="Name*">
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="email" name="email" maxlength="50" placeholder="Email*">
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-12">
                        <input type="tel" class="form-control" id="phone" name="phone" maxlength="50" placeholder="Number*">
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-sm-12">
                        <textarea class="form-control" id="message" name="message" placeholder="Message*" maxlength="6000" rows="7"></textarea>
                    </div>
                    </div>
                    <div class="form-group pt-60">
                    <button class="btn btn-theme-colored" type="submit">Reservation<i class="fa fa-paper-plane pl-5"></i></button>
                    </div>
                </form>
                <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
                <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                </div>
    
            </div>
            </div>
        </div>
    </section>
  </div>
  {% include footer_en.html %}
</div>