---
layout: default
title: 易美教育 | 易美高端留学 | Easymay
---

<div id="wrapper" class="clearfix">
  <!-- {% include preloader.html %} -->
  {% include navigation.html %}
  <div class="main-content">
    <section id="home" class="divider">
      <div class="slider-container slider-container-fullscreen planning-slider">
        <div class="slider" id="revolutionSliderFullScreen">
          <ul>
            <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

              <div class="tp-caption fullscreenvideo"data-x="0"data-y="0"data-speed="0"data-start="0"data-easing="easeOutExpo"data-autoplay="true"data-nextslideatend="true">
                <video class="video-js vjs-default-skin" autoplay loop style="margin-top: -250px;" poster="assets/services/video/placeholder-video-bg2.png">
                  <source src="assets/services/video/planning-strategy.mp4"  type='video/mp4;  codecs="avc1.42E01E, mp4a.40.2"'>
                  <source src="video/gray-clouds.ogv"  type='video/ogg;  codecs="theora, vorbis"'>
                </video>
              </div>
              <div class="display-table video-content-table">
                <div class="display-table-cell">
                  <div class="container pt-lg-160 pb-lg-10">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div class="border-text">
                          <h1 class="text-white text-uppercase font-48 text-white">完美申请计划</h1>
                          <p class="font-20 text-white mb-30 pt-40">拥有美国名校“基因”的全海外服务团队，助您缔造完美申请者形象</p>
                          <a class="qbutton-style icon_right addBG" href="#service-contact-form">报名加入</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section><!-- Section About -->
    <section class="pt-sm-15">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section-title text-center pl-15 pr-15">

            <h2 class="title-effect text-theme-colored2 mt-0">完美申请计划</h2>
            <p class="text-white">完美申请流程，高品质留学体验</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 mb-30 ">
            <div class="media border p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-target text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">真实可靠的申请方案</h5>
                <p class="mb-0 text-white">依靠易美名校内部数据库和案例库，对申请者进行全面评估，结合最新录取率、课程设置以及名校偏好，为学员精准匹配院校及专业</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 mb-30 ">
            <div class="media border p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-user text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">全美国名校背景的海外服务团队</h5>
                <p class="mb-0 text-white">将基本申请服务流程的各项模块全面升级，在申请关键节点为您匹配与您名校和专业目标一致的美国名校国际教育背景的服务团队</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 xs-mb-30">
            <div class="media border p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-stats-up text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">多维度提升竞争力</h5>
                <p class="mb-0 text-white">精细化服务充分挖掘申请者潜能，多方位超出目标院校和各专业的基本录取标准，利用丰富的校内工作经验，协助申请者打造独特性申请方案</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="media border p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-unlock text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">全程透明化服务</h5>
                <p class="mb-0 text-white">为了保证高水准服务质量，全程保证各项服务透明，24小时实时与名校跟进，高品质陪同服务确保每个服务环节万无一失，后台高效运转 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- Divider: Funfact --><section class="services-list-bg services parallax" data-bg-img="assets/services/p3-3b3.jpeg">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-7">
              <h2 class="title-effect mt-0 mb-30 text-white">完美申请计划适合人群</h2>
              <ul class="list list-hand zhuanxiangStyle">
                <li> 有意向在2年内申请美国本科/研究生，冲刺TOP50名校的申请者</li>
                <li> 需要中国导师与海外团队全程指导，深度了解申请环节的申请者</li>
                <li> 申请预算低，倾向DIY，但又对于关键申请环节不甚了解的申请者</li>
              </ul><!--<a class="cta-border" href="">Read More</a>-->

            </div>
            <div class="col-md-5">
              <div class="services-box">
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-user-o fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">50</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont" >美籍藤校文书顾问老师</h2>
                  </div>
                </div>
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-graduation-cap fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">70</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont" >TOP50名校优秀博士生</h2>
                  </div>
                </div>
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-university fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">80+</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont">TOP30名校优秀研究生</h2>
                  </div>
                </div>
                <div class="row pb-15">
                  <div class="col-sm-3"> <span class="fa fa-id-badge fa-2 text-theme-colored2 font-21 pr-10" aria-hidden="true"></span> </div>
                  <div class="col-sm-9 zhuanxiangSmallType">
                    <h2 class="text-white font-21 mb-0 pt-0 pb-15 mt-0 typeHeader">1000</h2>
                    <h2 class="text-white font-10 mb-0 pt-0 pb-0 mt-0 typeFont">世界五百强名企高管</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section class="services parallax" data-bg-img="assets/services/service-bg.png">
      <div class="container pb-40">
        <div class="row justify-content-center">
          <div class="section-title text-center pl-15 pr-15"><h2 class="title-effect text-theme-colored2 mt-0">
            完美申请服务项目优势</h2>
            <!--<p class="text-white">易美通过多年走访名校和内部数据分析建立的易美独家名校信息数据库、案例库以及专业录取数据库，<br>-->
            <!--为易美学员进行数据筛选与匹配，精准定位理想院校与专业。 </p></div>-->
          </div>
          <div class="section-content services-block">
            <div class="row"> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip"
                                                                           href="#"><span
                  class="fa fa-users fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span> </a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    名校录取专家，完美把控全局</h6>
                    <p class="text-white text-justify">
                      TOP30名校招生办助理权威指导，注重细节，实时监督申请服务各个环节，深谙美国名校真正的审阅批录流程，擅长捕捉学生独特性优势，个性化定制整体申请方案和策略。 </p>
                  </div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip"
                                                                           href="#"><span
                  class="fa fa-line-chart fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    美国思维式文书，完美提炼亮点</h6>
                    <p class="text-white text-justify">
                      拥有TOP40美国名校研究生学历背景的美籍文书团队对学生进行全面剖析，为每所理想院校制定不同的文书线索，用纯正的美国表达方式摆脱“传统模板翻译式”撰写方式和同质化现象。 </p></div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip"
                                                                           href="#"><span
                  class="fa fa-handshake-o fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    美国博士生指导，完美提升学术背景</h6>
                    <p class="text-white text-justify">
                      TOP50名校各专业美国本土博士生，深度解析学生所学科目，归纳总结学生学术亮点与实习背景，为学生补充专业化素材，全面提升学生国际化竞争力。 </p>
                  </div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="icon-box  icon-filled left media p-0 mb-40"><a class="media-left pull-left flip" href="#"><span
                  class="fa fa-database fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                  <div class="media-body"><h6 class="media-heading heading font-weight-600 text-white font-16">
                    全程多对一服务，完美一站服务</h6>
                    <p class="text-white text-justify">
                      易美教育的完美计划为每一位申请者提供一站式全程指导，包含整体规划、选校选专业、背景提升指导、文书创作与润色、网申填写、成绩寄送、申请状态追踪、面试指导和录取院校选择指导等等。 </p></div>
                </div>
              </div> <!-- Item End--> <!-- Item Start-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Pricing -->
    <section id="pricing" class="bg-black-color">
      <div class="container pt-90">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                <img src="assets/services/plan/2.png" class="img-fullwidth" alt=""> <ul class="list price-list theme-colored text-left flip check-circle mt-0 pb-20 bg-white">
                <li>TOP30名校前招生办主任指导</li>
                <li>藤校教育学顾问团队把控后台</li>
                <li>定制同专业领域的背景提升方案</li>
                <li>易美独家五百强名企实习科研项目</li>
              </ul>
                <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">马上预约</a>  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                <img src="assets/services/plan/1.png" class="img-fullwidth" alt=""> <ul class="list price-list theme-colored text-left flip check-circle mt-0 pb-20 bg-white">
                <li>美籍TOP50文书顾问</li>
                <li>匹配TOP30名校教育学背景后台顾问</li>
                <li>美籍藤校博士生亮点挖掘</li>
                <li>TOP50名校招生办助理后台指导</li>
              </ul>
                <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">马上预约</a>  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                <img src="assets/services/plan/3.png" class="img-fullwidth" alt=""> <ul class="list price-list theme-colored text-left flip check-circle mt-0 pb-20 bg-white">
                <li>TOP15名校招生办主任全程把控</li>
                <li>无保底院校冲刺</li>
                <li>美籍藤校文书顾问文书润色</li>
                <li>易美独家名校渠道与资源匹配</li>
              </ul>
                <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">马上预约</a>  </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- Section About -->

    <section class="services-form" id="service-contact-form">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="title-effect mt-0 mb-0 text-white">报名参加完美申请计划，</h2>
              <h2 class="title-effect mt-0 mb-20">让我们为您敲开名校之门</h2>

              <p class="text-white pb-20"> 真正的名校梦想，需要用心来实现；孩子一生的转折点，不仅仅是一纸合同，唯有专注与卓越，才能飞得更高。易美期待在留学路上做您最坚实的后盾，携手诸位名校前招生官为您破解美国名校申请的困局，站在美国制高点，为您拿下一座座名校之城。也希望有志于美国名校的学子能在漫长的求学道路上不忘初心，成功飞跃重洋，遇见更好的自己。 </p>
              <div class="bcode"> <img src="assets/bcode.jpeg" width="100" alt="" title=""> </div>
            </div>

            <div class="col-md-6">
              <form role="form" method="post" id="reused_form">
                <div class="row">
                  <div class="form-group col-sm-12">
                    <input type="text" class="form-control" id="firstname" name="firstname" maxlength="50" placeholder="姓名*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="email" name="email" maxlength="50" placeholder="邮箱*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <input type="tel" class="form-control" id="phone" name="phone" maxlength="50" placeholder="电话号码*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <textarea class="form-control" id="message" name="message" placeholder="留言*" maxlength="6000" rows="7"></textarea>
                  </div>
                </div>
                <div class="form-group pt-60">
                  <button class="btn btn-theme-colored" type="submit">预约咨询<i class="fa fa-paper-plane pl-5"></i></button>
                </div>
              </form>
              <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
              <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  {% include footer.html %}
</div>