---
layout: default
title: 易美教育 | Easymay
---

<div id="wrapper" class="clearfix">
  <!-- {% include preloader.html %} -->
  {% include navigation_en.html %}
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider">
      <div class="container-fluid p-0">
        <div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="test5" data-source="gallery" style="margin:0px auto;background:#0c0b09;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.4.7.2 fullwidth mode -->
          <div id="rev_slider_10_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.2">
            <ul>  <!-- SLIDE  -->
              <li data-index="rs-61" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="550"  data-thumb="assets/services/service-bg6.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Welcome" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/services/header.jpeg"  alt="" title="slide-1"  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-61-layer-1"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['254','254','254','254']"
                     data-fontsize="['45','45','45','41']"
                     data-lineheight="['48','48','48','42']"
                     data-width="['100%','100%','100%','95%']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":530,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 5; min-width: 100%; max-width: 100%; white-space: nowrap; font-size: 45px; line-height: 48px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">The ones who have overmastered study-abroad <br> have a say in the application process!</div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-61-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['399','399','399','439']"
                     data-width="100%"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="text"
                     data-responsive_offset="on"

                     data-frames='[{"delay":1080,"speed":400,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; min-width: 100%; max-width: 100%; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                  <a class="btn text-uppercase qbutton-style icon_right" href="#service-contact-form">Chat Now</a>
                </div>
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
        </div><!-- END REVOLUTION SLIDER -->
        <script type="text/javascript">
          var revapi10,
            tpj;
          (function() {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();
            function onLoad() {
              if (tpj===undefined) { tpj = jQuery; if("on" == "on") tpj.noConflict();}
              if(tpj("#rev_slider_10_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_10_1");
              }else{
                revapi10 = tpj("#rev_slider_10_1").show().revolution({
                  sliderType:"standard",
                  jsFileLocation:"//credentusa.com/wp-content/plugins/revslider/public/assets/js/",
                  sliderLayout:"fullwidth",
                  dottedOverlay:"none",
                  delay:2000,
                  navigation: {
                    keyboardNavigation:"on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    mouseScrollReverse:"default",
                    onHoverStop:"on",
                    touch:{
                      touchenabled:"on",
                      touchOnDesktop:"off",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                    }
                    ,
                    arrows: {
                      style:"hermes",
                      enable:false,
                      hide_onmobile:true,
                      hide_under:700,
                      hide_onleave:false,
                      tmp:'<div class="tp-arr-allwrapper">  <div class="tp-arr-imgholder"></div>  <div class="tp-arr-titleholder">{{title}}</div> </div>',
                      left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:0,
                        v_offset:0
                      },
                      right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:0,
                        v_offset:0
                      }
                    }
                  },
                  responsiveLevels:[1240,1024,778,480],
                  visibilityLevels:[1240,1024,778,480],
                  gridwidth:[1230,1024,778,480],
                  gridheight:[650,768,960,800],
                  lazyType:"none",
                  parallax: {
                    type:"mouse",
                    origo:"enterpoint",
                    speed:400,
                    speedbg:0,
                    speedls:0,
                    levels:[5,10,15,20,25,30,35,40,45,50,47,48,49,50,51,55],
                  },
                  shadow:0,
                  spinner:"spinner2",
                  stopLoop:"off",
                  stopAfterLoops:-1,
                  stopAtSlide:-1,
                  shuffle:"off",
                  autoHeight:"off",
                  disableProgressBar:"on",
                  hideThumbsOnMobile:"off",
                  hideSliderAtLimit:0,
                  hideCaptionAtLimit:0,
                  hideAllCaptionAtLilmit:0,
                  debugMode:false,
                  fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                  }
                });
              }; /* END OF revapi call */

            }; /* END OF ON LOAD FUNCTION */
          }()); /* END OF WRAPPING FUNCTION */
        </script>
      </div>
    </section>



    <section  class="services-process parallax" data-bg-img="assets/process/process-bg.jpg">
      <div class="text-center">
        <h2 class="title-effect text-theme-colored2 mt-0 mb-50">Service Flow</h2>
      </div>

      <div id="cd-timeline">
        <div class="cd-container">

          <!--STEP 1-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"> <img src="js/vertical-timeline/img/1.png" alt="Picture"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2">General Advising</h2>
              <p class="font-13 text-white pb-30"> 
                    Preliminary analysis for academic background, Familiarizing applicant’s goals, Setting the initial application plan, Survey the relevant programs and colleges, Matched consultant will have same field from a top 30 master programs.
                 </p>

              <!--<a href="#0" class="cd-read-more">Read more</a>-->

              <span class="cd-date text-theme-colored2"><b>STEP 1</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

          <!--STEP 2-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"> <img src="js/vertical-timeline/img/2.png" alt="Movie"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2">Secondary Analysis </h2>
              <p class="font-13 text-white pb-30"> 
                    In Depth Analysis of the applicant’s strength/ weakness; Focus on the application highlights; step-by-step guide in language tests, background enhancement, matching University resources, American expert Consultant, native English-speaker Personal Statement expert writer
                </p>
              <span class="cd-date text-theme-colored2"><b>STEP 2</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

          <!--STEP 3-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"> <img src="js/vertical-timeline/img/3.png" alt="Picture"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2">Finalizing the application plan</h2>
              <p class="font-13 text-white pb-30"> 
                  Analysis areas of studies, university specialties, and employment trend; finalize the list of programs to apply; remote intern in well-known corporations; Exclusive application database for programs; experienced teachers to prepare the tests.
              </p>
              <span class="cd-date text-theme-colored2"><b>STEP 3</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

          <!--STEP 4-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"> <img src="js/vertical-timeline/img/4.png" alt="Location"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2">Background Enhancement: Research & Internship Opportunities</h2>
              <p class="font-13 text-white pb-30"> 
                  Personalized background enhancement, In depth analysis of applicant’s transcripts, Spotting highlights in assignments and projects, Exclusive remote research and internship in Ivy League Schools to save time costs, American Ph.D. and career elite consultant to complement weakness; spotlight on the highlights, increase the applicant’s overall competitiveness.
              </p>
              <span class="cd-date text-theme-colored2"><b>STEP 4</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

          <!--STEP 5-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"> <img src="js/vertical-timeline/img/5.png" alt="Location"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2">Statement of Purpose Composition by American Ivy League Consultant Team</h2>
              <p class="font-13 text-white pb-30"> 
                    We deeply investigate student's life path and personal character case by case and sort necessary personal statement requirements for each individual applied institutions. We try to accumulate sources for personal statement from multi-dimensional angles, determine main streamline and insights, and our US citizen personal statement expert writer finally articulate the personal statement. We also provide 24/7 former admission officers service for personal statement. Based on different school's customized personal statement, we fetch predilection of different schools on personal statement from our database to completely avoid Chinese-style English writing.
              </p>
              <span class="cd-date text-theme-colored2"><b>STEP 5</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

          <!--STEP 6-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"> <img src="js/vertical-timeline/img/6.png" alt="Movie"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2"> Application process</h2>
              <p class="font-13 text-white pb-30"> 
                    Complete online application process and assist necessary fee payment, submission of necessary materials. Our application consultants all graduated from prestigious institutions such as Columbia University, New York University, University of Pennsylvania, etc, and all major in international education and English literature, with proficiency in translation, oral language and composition
              </p>
              <span class="cd-date text-theme-colored2"><b>STEP 6</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

          <!--STEP 7-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"> <img src="js/vertical-timeline/img/7.png" alt="Location"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2">Contact Schools and tracking application process</h2>
              <p class="font-13 text-white pb-30"> 
                    We provide 1v1 interview tutorial and actively interact with admission office. If any materials are missing, we will guide student to submit them correctly. For interview strategies, our former admission officer team will help with personalizing interview materials, who are all American nationals. For graduate programs, our graduate school research team will help students to fully research professors' and programs' background to provide student's sufficient oral language practice. Our Chinese team and US team guarantee that there will be no communication lags due to time zone differences.
                </p>
              <span class="cd-date text-theme-colored2"><b>STEP 7</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

          <!--STEP 8-->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"> <img src="js/vertical-timeline/img/8.png" alt="Movie"> </div>

            <!-- cd-timeline-img -->

            <div class="cd-timeline-content bg-color-dark">
              <h2 class="text-theme-colored2">Easymay's unique eminent instituition resources</h2>
              <p class="font-13 text-white pb-30"> 
                    We will match Easymay’s unique channels and resources for each student and establish contact tunnel with admission offices in order to significantly increase admission probability. Our core service
              </p>
              <span class="cd-date text-theme-colored2"><b>STEP 8</b></span> </div>

            <!-- cd-timeline-content -->

          </div>

          <!-- cd-timeline-block -->

        </div>
      </div>
    </section>


    <!-- Section Contact -->

    <section class="services-form" id="service-contact-form">
        <div class="container">
            <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                <h2 class="title-effect mt-0 mb-0 text-white">Join the VIP Plan today</h2>
                <h2 class="title-effect mt-0 mb-20">Let us help you open the door to top universities</h2>
    
                <p class="text-white pt-20 pb-20"> Hard efforts needed for realizing a top university dream, the turning point of a child’s life should not based solely on a contract. Easymay wishes its best to support you on your way at the beginning of study abroad. Built with an emphasis on quality results and world-class integrity, we implement extensive experience in the local US education market, innovative counseling techniques, and top- tier professionals for delivering impactful solutions. Easymay wishes you never forget why you started, and makes a better you on your study. </p>
                <div class="bcode"> <img src="assets/bcode.jpeg" width="100" alt="" title=""> </div>
                </div>
    
                <div class="col-md-6">
                <form role="form" method="post" id="reused_form">
                    <div class="row">
                    <div class="form-group col-sm-12">
                        <input type="text" class="form-control" id="firstname" name="firstname" maxlength="50" placeholder="Name*">
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="email" name="email" maxlength="50" placeholder="Email*">
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-12">
                        <input type="tel" class="form-control" id="phone" name="phone" maxlength="50" placeholder="Number*">
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-sm-12">
                        <textarea class="form-control" id="message" name="message" placeholder="Message*" maxlength="6000" rows="7"></textarea>
                    </div>
                    </div>
                    <div class="form-group pt-60">
                    <button class="btn btn-theme-colored" type="submit">Reservation<i class="fa fa-paper-plane pl-5"></i></button>
                    </div>
                </form>
                <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
                <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                </div>
    
            </div>
            </div>
        </div>
    </section>

  </div>
  {% include footer_en.html %}
</div>