---
layout: default
title: 易美VIP | Easymay
---
<div id="wrapper" class="clearfix">

  <!-- {% include preloader.html %} -->
  {% include navigation_en.html %}
  <div class="main-content">

    <!-- Section: home -->

    <section id="home" class="divider">
      <div class="slider-container slider-container-fullscreen">
        <div class="slider" id="revolutionSliderFullScreen">
          <ul>
            <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

              <!--<img src="img/clouds.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt="No video playback capabilities" />-->

              <div class="tp-caption fullscreenvideo" data-x="0" data-y="0" data-speed="0" data-start="0" data-easing="easeOutExpo" data-autoplay="true" data-nextslideatend="true">
                <video class="video-js vjs-default-skin" autoplay loop style="margin-top: -250px;" poster="assets/services/video/placeholder-video-bg.png">
                  <source src="assets/services/video/vip-bg.mp4"  type='video/mp4;  codecs="avc1.42E01E, mp4a.40.2"'>
                </video>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section-title text-center pl-15 pr-15">

            <h2 class="title-effect text-theme-colored2 mt-0">VIP Dream School Plan</h2>
            <p class="text-white">Guidance from admissions assistants at top universities to help students in applications for prominent institutions</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 mb-30 ">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-thumb-up text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">Impeccable Service</h5>
                <p class="mb-0 text-white">In addition to the full service of Platinum Plan and Golden Plan, VIP Plan enjoys an additional personal mentorship from Easymay’s senior counselor, customizing a personalized application to highly match the institutions. VIP enjoys 24/7 communication with Easymay’s counselor and the counselor will follow every detail personally. </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 mb-30 ">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-stats-up text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">No Safety School</h5>
                <p class="mb-0 text-white">Our company is the first of its kind to synergize the guidance of professional counselors to aid students to get admitted into their dream schools. Built with an emphasis on quality results and world-class integrity, we implement extensive experience in the local U.S. education market, innovative counseling techniques, and top- tier professionals for delivering impactful solutions.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 xs-mb-30">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-medall text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">A high acceptance rate beyond expectations</h5>
                <p class="mb-0 text-white">Easymay collaborates with a proprietary network that encompasses over dozens of top universities in the U.S., with former admissions officers and elite leaders of different fields. Easymay strives to provide high-end consultation services for VIP students and parents to increase the chance of admission to top-ranked universities.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="media p-4">
              <div class="feature-icon media-icon mr-4">
                <span class="ti-flag text-theme-colored2"></span>
              </div>
              <div class="media-body">
                <h5 class="text-back text-theme-colored2">Leading professional standard in the industry</h5>
                <p class="mb-0 text-white">Easymay collaborates with former admissions senior officers to promote the students background and perfect a process to produce unique applications tailored for U.S. universities. The team helps students to create personalized applications, resumes and essays highlighting each candidate’s strengths, personal experiences and characteristics to build the student as a unique candidate.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Section: Gallery -->

    <!-- Section About -->
    <section class="services-progress parallax" data-bg-img="assets/services/progress-block-img.png">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6"> </div>
            <div class="col-md-6">
              <h2 class="text-white pb-30 font-25">Target population</h2>
              <div class="row pb-15">
                <div class="col-sm-6">
                  <span class="fa fa-university fa-2 text-theme-colored2 font-21 pr-10 fixedWidth" aria-hidden="true"></span> <span class="text-white font-15">Students who want the most competitive application profile for Top 30 universities</span> <br>
                  <br>
                  <span class="fa fa-calendar fa-2 text-theme-colored2 font-21 pr-10 fixedWidth" aria-hidden="true"></span> <span class="text-white font-15">Students who need long-term guidance and mentorship</span> <br>
                  <br>
                  <span class="fa fa-key fa-2 text-theme-colored2 font-21 pr-10 fixedWidth" aria-hidden="true"></span> <span class="text-white font-15">Students who seek “butler style” service</span> </div>
                <div class="col-sm-6"> <span class="fa fa-bullseye fa-2 text-theme-colored2 font-21 pr-10 fixedWidth" aria-hidden="true"></span> <span class="text-white font-15">Students who have specific dream schools</span> <br>
                  <br>
                  <span class="fa fa-pencil-square-o fa-2 text-theme-colored2 font-21 pr-10 fixedWidth" aria-hidden="true"></span> <span class="text-white font-15">Students who seek for a personalized application</span> <br>
                  <br>
                  <span class="fa fa-cubes fa-2 text-theme-colored2 font-21 pr-10 fixedWidth" aria-hidden="true"></span> <span class="text-white font-15">Students who need specialized proprietary resources within top universities</span> </div>
              </div>
              <div class="progressbar-container">
                <div class="progress-item">
                  <div class="progress-title">
                    <h6 class="text-white font-16 font-weight-600">Graduate Acceptance Rate for Top30 Universities</h6>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" data-percent="99"></div>
                  </div>
                </div>
                <div class="progress-item">
                  <div class="progress-title">
                    <h6 class="text-white font-16 font-weight-600">Undergraduate Acceptance Rate for Top30 Universities</h6>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" data-percent="85"></div>
                  </div>
                </div>
                <div class="progress-item">
                  <div class="progress-title">
                    <h6 class="text-white font-16 font-weight-600">Transfer Acceptance Rate for Top30 Universities</h6>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" data-percent="95"></div>
                  </div>
                </div>
                <div class="progress-item">
                  <div class="progress-title">
                    <h6 class="text-white font-16 font-weight-600">Service Satisfaction on Former American Admissions Officers Team</h6>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" data-percent="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Gallery -->


    <section class="professions-bg preload">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section-title text-center pl-15 pr-15">

            <h2 class="title-effect text-theme-colored2 mt-0">Former Admission Office Directors from Top 15 Universities</h2>
            <p class="text-white">Top “Think Tank” helps Easymay students excel</p>
          </div>
          <div class="section-content news-content professions-content">
            <div class="row">
              <div class="col-md-12">

                <!-- Portfolio Gallery Grid -->

                <div id="grid" class="gallery-isotope default-animation-effect grid-3 gutter clearfix">

                  <div class="gallery-item photography">
                    <img src="assets/professions/1.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Former Admissions Officers at Harvard University</h4>
                      <p>Ms. Evans</p>
                    </div>
                  </div>
                  <div class="gallery-item branding">
                    <img src="assets/professions/2.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Former Admissions Officer at Harvard University</h4>
                      <p>Mr. Nate</p>
                    </div>
                  </div>
                  <div class="gallery-item design">
                    <img src="assets/professions/3.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Columbia University Former Admissions Officer</h4>
                      <p>Ms. Arlen</p>
                    </div>
                  </div>
                  <div class="gallery-item photography">
                    <img src="assets/professions/4.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Former Yale University Senior Admissions Officer</h4>
                      <p>Ms. Arlen</p>
                    </div>
                  </div>
                  <div class="gallery-item branding">
                    <img src="assets/professions/5.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Former Dartmouth College Admissions Director</h4>
                      <p>Ms. Racquel</p>
                    </div>
                  </div>
                  <div class="gallery-item design">
                    <img src="assets/professions/6.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Former Deputy Director of the International Student Office of Stanford University</h4>
                      <p>Ms. Britt</p>
                    </div>
                  </div>
                  <div class="gallery-item design">
                    <img src="assets/professions/7.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Former Senior Admissions Officer at Northwestern University and Georgetown University</h4>
                      <p>Ms. Salome</p>
                    </div>
                  </div>
                  <div class="gallery-item design">
                    <img src="assets/professions/8.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Columbia University Former Admissions Officer</h4>
                      <p>Mr.Heaton</p>
                    </div>
                  </div>
                  <div class="gallery-item design">
                    <img src="assets/professions/9.jpg" alt="" title="">
                    <div class="image-box-details">
                      <h4 class="title text-theme-colored2 small-10">Former Harvard University Admissions Office Executive Committee member, former Tufts University Admissions Officer</h4>
                      <p>Mr. Smailes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->

    <section class="services parallax" data-bg-img="assets/services/service-bg.png">
      <div class="container pb-40">
        <div class="row justify-content-center">
          <div class="section-title text-center pl-15 pr-15">

            <h2 class="title-effect text-theme-colored2 mt-0">VIP service advantages</h2>
            <!--<p class="text-white">We'll do everything we can to make our next best project!</p>-->
          </div>
        </div>
        <div class="section-content services-block">
          <div class="row">

            <!-- Item Start-->

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="icon-box  icon-filled left media p-0 mb-40"> <a class="media-left pull-left flip" href="#"><span class="fa fa-users fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span> </a>
                <div class="media-body">
                  <h6 class="media-heading heading font-weight-600 text-white font-16">Former Admissions Officers from Ivy League Colleges<br>
                    Guidance with Easymay senior counselor  in the whole process</h6>
                  <p class="text-white text-justify"> Leverage advantages and bypass the disadvantages over different key issues regarding the online application by guidance from admissions assistants at top universities, have one on one mentorship with former admissions officers, collaborative Easymay team with a counselor to offer impeccable service. </p>
                </div>
              </div>
            </div>

            <!-- Item End-->

            <!-- Item Start-->

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="icon-box  icon-filled left media p-0 mb-40"> <a class="media-left pull-left flip" href="#"><span class="fa fa-line-chart fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                <div class="media-body">
                  <h6 class="media-heading heading font-weight-600 text-white font-16">Specialized Proprietary Resources Within Top American Universities<br>
                    A boost in college admission rate</h6>
                  <p class="text-white text-justify"> Match students with Easymay’s exclusive resources, build direct connections with the targeted admissions office, analyze current key data on admissions trends, requirements to increase the chance of students getting into their dream school. </p>
                </div>
              </div>
            </div>

            <!-- Item End-->

            <!-- Item Start-->

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="icon-box  icon-filled left media p-0 mb-40"> <a class="media-left pull-left flip" href="#"><span class="fa fa-handshake-o fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                <div class="media-body">
                  <h6 class="media-heading heading font-weight-600 text-white font-16">Four elite teams collaborate to polish your essay<br>
                    Far beyond the admissions requirements</h6>
                  <p class="text-white text-justify"> Post graduates, graduates from top universities, elites from 500 fortune companies team together to promote student’s internship experiences, review their essays with down-to-earth language usages, building a unique candidate for the application.  </p>
                </div>
              </div>
            </div>

            <!-- Item End-->

            <!-- Item Start-->

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="icon-box  icon-filled left media p-0 mb-40"> <a class="media-left pull-left flip" href="#"><span class="fa fa-database fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                <div class="media-body">
                  <h6 class="media-heading heading font-weight-600 text-white font-16">Rest of the Payment until receiving offers<br>
                    No “safety” schools, top choices school selections only</h6>
                  <p class="text-white text-justify"> Break the traditional application style of having “safety” schools, focusing on student’s dream school and top universities. Help students enter Ivy League schools and other prominent institutions. </p>
                </div>
              </div>
            </div>

            <!-- Item End-->

            <!-- Item Start-->

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="icon-box  icon-filled left media p-0 mb-40"> <a class="media-left pull-left flip" href="#"><span class="fa fa-address-card-o fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                <div class="media-body">
                  <h6 class="media-heading heading font-weight-600 text-white font-16">Internship experience through boutique projects provided by Easymay with top companies around the world</h6>
                  <p class="text-white text-justify"> Elite officers, senior HR experts, professors from top universities launch research projects with students and share their experience with students. </p>
                </div>
              </div>
            </div>

            <!-- Item End-->

            <!-- Item Start-->

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="icon-box  icon-filled left media p-0 mb-40"> <a class="media-left pull-left flip" href="#"><span class="fa fa-comments-o fa-3 text-theme-colored2 font-36 pr-10" aria-hidden="true"></span></a>
                <div class="media-body">
                  <h6 class="media-heading heading font-weight-600 text-white font-16">VIP “one on one” remote language study project<br>
                    Improving scores in a relaxed way</h6>
                  <p class="text-white text-justify"> The best tutors, the tricks you need to succeed, and personalized study. Practice tips, test-taking strategies, sample questions, and more with our professional tutors with more than 10 years experience. </p>
                </div>
              </div>
            </div>

            <!-- Item End-->

          </div>
        </div>
      </div>
    </section>

    <!-- Section: Pricing -->
    <section id="pricing" class="bg-black-color">
      <div class="container pt-90">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                <img src="assets/services/plan/1.png" class="img-fullwidth" alt=""> 
                <ul class="list price-list theme-colored text-left flip check-circle mt-0 ##pb-20 bg-white" style="height:100%;">
                <li>Essay advisor from top 50 universities</li>
                <li>Consultants with education degree from top 30 universities</li>
                <li>Discover your uniqueness by U.S. Doctorates</li>
                <li>Professional Guidance from Top 50 ranking university former admissions officers</li>
              </ul>
                <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">Reserve Now</a>  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                <img src="assets/services/plan/3.png" class="img-fullwidth" alt=""> 
                <ul class="list price-list theme-colored text-left flip check-circle mt-0 ##pb-20 bg-white" style="height:100%;">
                <li>Former admissions officers from top 15 universities</li>
                <li>No “safety” school</li>
                <li>Essay revision by U.S. writing advisors</li>
                <li>Easymay exclusive resources help you with the best matching</li>
              </ul>
                <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">Reserve Now</a>  </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table bg-silver-deep text-center maxwidth400 pt-0">
                <img src="assets/services/plan/2.png" class="img-fullwidth" alt=""> 
                <ul class="list price-list theme-colored text-left flip check-circle mt-0 ##pb-20 bg-white" style="height:100%;">
                <li>Former Admissions Officers from top 30 universities</li>
                <li>Advising Team monitoring the whole application process</li>
                <li>Personalized background enhancement plan</li>
                <li>Boutique scientific research projects and top 500 internship opportunities</li>
              </ul>
                <a class="btn btn-lg text-uppercase btn-block pt-20 pb-20 btn-flat text-white btn-theme-colored2" href="#service-contact-form">Reserve Now</a>  </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->

    <section class="services parallax" data-bg-img="assets/services/vip/p3-1b7.jpeg">
      <div class="container pb-100 pt-100">
        <div class="section-content testimonial-block">
          <div class="owl-carousel">
            <div class="item">
              <div class="testimonials"><img class="" src="assets/services/vip/1.jpeg" alt="" title="">
                <p class="text-center text-white"> Although the school's official website lists admission requirements, including GPA, test scores and other objective criteria, these are just the general requirements. In fact, the admissions offices of the top schools assess students from a more subjective and holistic perspective, and will assess more factors beyond academic performance. This is why admissions officers need to review thousands of application materials."
                  <br /><br /><strong> Former Columbia University Admissions Director and Senior Advisor to Easymay, Mr. Hinton</strong></p>
              </div>
            </div>
            <div class="item">
              <div class="testimonials"><img class="" src="assets/services/vip/2.jpeg" alt="" title="">
                <p class="text-center text-white"> During the review, we will repeatedly check the materials submitted by the applicant, check the grammatical errors, and see if the applicant's personality characteristics are shown completely in the application. We will consider thoroughly and see if the applicant is the right person for our school. This well-prepared application material takes dozens of hours to polish out. If your preparation is slightly careless, you may be turned away, not to mention the lack of time in preparation."
                  <br /><br /><strong> Former Associate Director of the Admissions Office of the Massachusetts Institute of Technology and Senior Advisor to Easymay, Ms. Evans</strong></p>
              </div>
            </div>
            <div class="item">
              <div class="testimonials"><img class="" src="assets/services/vip/3.jpeg" alt="" title="">
                <p class="text-center text-white"> Students generally have a perception that as long as they have high standardized test scores, they can spend less time on other application materials. However, this kind of thought is actually wrong. The test scores do not reflect the students' communication skills. However, communication skills are what the admissions officers care a lot when reviewing materials."
                  <br /><br /><strong> Former Harvard University Admissions Officer and Senior Advisor to Easymay, Mr. Nate</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section About -->

    <!-- Section About -->
    <!--<section class="services-list-bg services parallax" data-bg-img="assets/services/p5d.jpg">-->
    <!--<div class="container">-->
    <!--<div class="section-content service-bg-orange">-->
    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<div class="box-hover-effect about-video mt-sm-30">-->
    <!--<div class="effect-wrapper">-->
    <!--<div class="thumb"> <img class="img-fullwidth" src="assets/services/video-img-thumbs.png" alt="project"> </div>-->
    <!--<div class="video-button"></div>-->
    <!--<a class="hover-link" data-lightbox-gallery="youtube-video" href="https://www.youtube.com/watch?v=F3QpgXBtDeo" title="Youtube Video">Youtube Video</a> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-8">-->
    <!--<h2 class="text-uppercasetext-theme-colored mt-0 font-21 text-white mb-20">纽约大学前招生办副主任Mark：做被名校录取的那6%</h2>-->
    <!--<p class="lead mb-10 text-white font-15"> 从TOP30名校招生官第一视角出发，深度剖析美国名校申请背后，鲜为人知的录取规则，揭开招生官审批流程背后的故事。想知道如何才能获得招生官青睐吗？想知道如何通过几分钟的interview抓住招生官的心吗？大家最重视的文书，究竟怎样写的才最具独特竞争力？名校招生办如何审理中国留学生的申请材料？“水课”高GPA VS “大牛课程”低GPA，相比之下哪个才更有利申请？招生官更中意中国大公司实习经历还是美国小公司的实习经历？ </p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <section class="services-form" id="service-contact-form">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="title-effect mt-0 mb-0 text-white">Join the VIP Plan today</h2>
              <h2 class="title-effect mt-0 mb-20">Let us help you open the door to top universities</h2>

              <p class="text-white pt-20 pb-20"> Hard efforts needed for realizing a top university dream, the turning point of a child’s life should not based solely on a contract. Easymay wishes its best to support you on your way at the beginning of study abroad. Built with an emphasis on quality results and world-class integrity, we implement extensive experience in the local US education market, innovative counseling techniques, and top- tier professionals for delivering impactful solutions. Easymay wishes you never forget why you started, and makes a better you on your study. </p>
              <div class="bcode"> <img src="assets/bcode.jpeg" width="100" alt="" title=""> </div>
            </div>

            <div class="col-md-6">
              <form role="form" method="post" id="reused_form">
                <div class="row">
                  <div class="form-group col-sm-12">
                    <input type="text" class="form-control" id="firstname" name="firstname" maxlength="50" placeholder="Name*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="email" name="email" maxlength="50" placeholder="Email*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <input type="tel" class="form-control" id="phone" name="phone" maxlength="50" placeholder="Number*">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <textarea class="form-control" id="message" name="message" placeholder="Message*" maxlength="6000" rows="7"></textarea>
                  </div>
                </div>
                <div class="form-group pt-60">
                  <button class="btn btn-theme-colored" type="submit">Reservation<i class="fa fa-paper-plane pl-5"></i></button>
                </div>
              </form>
              <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
              <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  {% include footer_en.html %}

</div>