
<section id="sideBar"><ul><li class="wechatWrapper"><i class="fa fa-wechat"></i><div class="weChatMark"><img src="/assets/officialQR.jpg" alt=""></div></li><li class="contactPhoneWrapper"><!-- react-text: 687 --> <!-- /react-text --><i class="fa fa-phone"></i><div class="contactPhone"><h4>免费客服咨询</h4><h3>+1 (929) 208 - 8801</h3></div></li><li class="scrollToTopFunctionOnly"><!-- react-text: 693 --> <!-- /react-text --><i class="fa fa-angle-up"></i><!-- react-text: 695 --> <!-- /react-text --></li></ul></section>
<footer class="footer page-section-pt black-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-6 sm-mb-30">
        <div class="footer-useful-link footer-hedding">
          <h6 class="text-white mb-30 mt-10 text-uppercase">Nav Bar</h6>
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/news.html">News</a></li>
            <li><a href="/vip-services.html">Services</a></li>
            <li><a href="/professions.html">Professionals</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 col-sm-6 xs-mb-30">
        <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
        <ul class="addresss-info">
          <li><i class="fa fa-map-marker"></i> <p>Manhattan : 1325 6th Ave, New York, NY 10019 </p> </li>
          <li><i class="fa fa-map-marker"></i> <p>Wall St. : 140 Broadway, New York, NY 10005 </p> </li>
          <li><i class="fa fa-phone"></i> <a href="/tel:9292088801"> <span>+(929) 208 8801 </span> </a> </li>
          <li><i class="fa fa-envelope-o"></i>Email：contact@easymayus.com</li>
          <li><i class="fa fa-envelope-o"></i>Careers：hr@easymay.us</li>
        </ul>
      </div>
      <div class="col-lg-5 col-sm-6 text-center">
        <h6 class="text-white mb-30 mt-10 text-uppercase">Follow Us</h6>

        <div class="row">
          <div class="col-xs-6">
            <div><img style="width:150px" src="/assets/officialQR.jpg" alt=""></div>
            <p class="mb-30 footerCaption">Follow Easymay's Official Account to learn more about applications and our professionals</p>
          </div>
          <div class="col-xs-6">
            <div><img style="width:150px" src="/assets/CustomerService.jpg" alt=""></div>
            <p class="mb-30 footerCaption">Add our WeChat account to unlock your journey to your dream school</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-widget mt-20">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> 易美教育  </a> All Rights Reserved </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>