
<header id="header" class="header">


    <div class="header-nav">
      <div class="header-nav-wrapper">
        <div class="container">
          <nav id="menuzord" class="menuzord default theme-colored menuzord-responsive">
            <div class="headerLogo"><a class="menuzord-brand pull-left flip sm-pull-center mt-10" href="/index_en.html"><img
              src="/assets/logo.gif" alt=""></a></div>
  
            <!-- Main Nav-->
  
            <ul class="menuzord-menu pull-right nav-menu-main">
              <li class="{% if page.url == '/' %}active{% endif %}"><a href="/index_en.html">Homepage</a></li>
              <li class="{% if page.url == '/news.html' %}active{% endif %}"><a href="/news_en.html">News</a></li>
              <li class="{% if
              page.url == '/services_en.html' or
              page.url == '/planning-strategy_en.html' or
              page.url == '/art-application_en.html' or
              page.url == '/service-process_en.html'
              %}active{% endif %} normalCursor"><a>Services</a>
                <ul class="dropdown">
                  <li class="{% if page.url == '/vip-services_en.html' %}active{% endif %}"><a href="/vip-services_en.html">VIP Services</a></li>
                  <li class="{% if page.url == '/services_en.html' %}active{% endif %}"><a href="/services_en.html">Services</a></li>
                  <li class="{% if page.url == '/planning-strategy_en.html' %}active{% endif %}"><a href="/planning-strategy_en.html">Planning Strategy</a></li>
                  <li class="{% if page.url == '/art-application_en.html' %}active{% endif %}"><a href="/art-application_en.html">Art Application</a></li>
                  <li class="{% if page.url == '/service-process_en.html' %}active{% endif %}"><a href="/service-process_en.html">Service Process</a></li>
                  <li class="{% if page.url == '/improving_en.html' %}active{% endif %}"><a href="/improving_en.html">Improving</a></li>
                </ul>
              </li>
              <li class="{% if page.url == '/professions_en.html' %}active{% endif %}" ><a href="/professions_en.html">Professionals</a></li>
              <li class="{% if page.url == '/improving_en.html' %}active{% endif %}" ><a href="/improving_en.html">Improving</a></li>
              <li class="{% if page.url == '/vip-services_en.html' %}active{% endif %}" ><a href="/vip-services_en.html">VIP Services</a></li>
              <li class="{% if page.url == '/application-letter-preview_en.html' %}active{% endif %}" ><a href="/application-letter-preview_en.html">Application Letter Preview</a></li>
  
              <li class=" {% if
              page.url == '/cases_en.html' or
              page.url == '/success_en.html'
              %}active{% endif %} normalCursor"><a>Success Case</a>
                <ul class="dropdown">
                  <li class="{% if page.url == '/cases_en.html' %}active{% endif %}"><a href="cases_en.html" >Cases</a></li>
                  <li class="{% if page.url == '/success_en.html' %}active{% endif %}"><a href="success_en.html">Success</a></li>
                </ul>
              </li>
  
  
             <!-- <li class="{% if page.url == '/cases.html' %}active{% endif %}" ><a href="/cases.html">成功案例</a></li>-->
  
  
              <li class="{% if
              page.url == '/ranking_en.html' or
              page.url == '/schools_en.html' or
              page.url == '/majors_en.html'
              %}active{% endif %} normalCursor"><a>Schools and Majors</a>
                <ul class="dropdown">
                  <li class="{% if page.url == '/ranking_en.html' %}active{% endif %}"><a href="/ranking_en.html">Ranking</a></li>
                  <li class="{% if page.url == '/schools_en.html' %}active{% endif %}"><a href="/schools_en.html">Schools</a></li>
                  <li class="{% if page.url == '/majors_en.html' %}active{% endif %}"><a href="/majors_en.html">Majors</a></li>
                </ul>
              </li>
              <li class="{% if page.url == '/online_en.html' %}active{% endif %}"><a href="/online_en.html">Online Accessment</a></li>
              <li><a href="https://easymaylive.com/" target="_blank">Easmay Live</a></li>
              <li class="{% if
              page.url == '/about_en.html' or
              page.url == '/join-us_en.html' or
              page.url == '/contact_en.html'
              %}active{% endif %} normalCursor"><a>About</a>
                <ul class="dropdown">
                  <li class="{% if page.url == '/about_en.html' %}active{% endif %}"><a href="/about_en.html">About Us</a></li>
                  <li class="{% if page.url == '/join-us_en.html' %}active{% endif %}"><a href="/join-us_en.html">Join Us</a></li>
                  <li class="{% if page.url == '/contact_en.html' %}active{% endif %}"><a href="/contact_en.html">Contact Us</a></li>
                </ul>
              </li>
                
              <li>
                  <a href="/index_en.html">Chinese</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>